[
  {
    name: 'Dr. Brown'
    signal: 3606
    minAmplitude: 200000
  },
  {
    name: 'Dr. Evil'
    signal: 3620
    minAmplitude: 200000
  },
  {
    name: 'Dr. Who'
    signal: 3608
    minAmplitude: 700000
  }
]
